*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: "Roboto", "sans-serif";
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(217deg, rgba(68, 0, 255, 0.605), rgba(41, 17, 89, 0.359) 70.71%),
        linear-gradient(127deg, rgb(0, 0, 0), rgb(160, 153, 255) 70.71%),
        linear-gradient(336deg, rgba(0, 0, 255, .8), rgba(75, 113, 237, 0) 70.71%);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    min-height: 100vh;
    padding-left: 50px;
    font-size: 1.5rem;
    line-height: 1.25;
}

.container {
    width: 100%;
    max-width: 500px;
    background: rgba(38, 7, 152, 0.179);
    margin: 100px auto 20px;
    padding: 40px 45px 60px;
    border: 2px solid rgb(235, 239, 245);
    border-radius: 20px;
    box-shadow: 1px 1px 20px 10px rgba(255, 170, 251, 0.479);
}

.container h1 {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: rgb(217, 135, 213);
}

.container.glow {
    box-shadow: 1px 1px 20px 20px rgba(255, 170, 251, 0.479);
}


.radioBtn {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
    border: none;
    outline: none;
    background: rgb(237, 146, 232);
    padding: 16px 50px;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    border-radius: 25px;
}

.inputAddBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    padding-left: 20px;
    background: rgb(237, 239, 237);
    border-radius: 30px;
}

#todoInput {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    height: 25px;
    padding: 10px;
}

#addTodoBtn {
    cursor: pointer;
    border: none;
    outline: none;
    background: rgb(237, 146, 232);
    padding: 16px 50px;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    border-radius: 25px;
}

.todoList {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    width: 100%;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1.25rem;
    color: rgb(224, 183, 198);
}

#removeDoneBtn {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    float: right;
    width: 35%;
    cursor: pointer;
    border: none;
    outline: none;
    background: rgb(237, 146, 232);
    /* margin-bottom: 20px; */
    padding: 16px 50px;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    border-radius: 25px;
}